@use '../scss/mixins';
@import '../scss/_defs';

:host([simple]) {
  border: 0;
  display: inline-block;
  width: 52px;
}

:host {
  --height: 36px;

  @include mixins.transition(background-color, border);
  @include mixins.material-symbols;

  background-color: var(--white);
  border: 1px solid var(--grey-900);
  border-radius: var(--height);
  cursor: pointer;
  display: block;
  height: var(--height);
  max-height: var(--height);
  min-height: var(--height);
  // overflow: hidden;

  &:hover {
    border: 1px solid var(--white);
  }

  .button {
    @include mixins.transition(background-color, color);

    align-items: center;
    appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: var(--height);
    color: var(--grey-900);
    cursor: pointer;
    display: flex;
    height: var(--height);
    justify-content: center;
    line-height: 0;
    max-height: var(--height);
    min-height: var(--height);
    padding-inline: var(--spacing--sm);
    width: 100%;

    &:disabled,
    &:hover {
      color: var(--white);
    }

    &:disabled {
      background-color: var(--grey-200);
    }

    &:hover {
      background-color: var(--grey-900);
    }

    &--hidden {
      visibility: collapse;
      display: none;
    }
  }
}
