@use '../scss/mixins';
@import '../scss/_defs';
@import '../scss/tooltip.scss';
@import '~prismjs/themes/prism.css';
@import '~prismjs/themes/prism-okaidia.css';

@mixin typography {
  font-size: var(--font-size--md);
  font-family: var(--font-family--code);
  line-height: var(--line-height);
  tab-size: 2;
  text-shadow: none;

  span {
    background: transparent;
  }
}

:host {
  @include typography;
  @include mixins.material-symbols;

  display: block;
  height: 100%;
  position: relative;
  width: 100%;

  .tooltip--bottom {
    font-family: var(--font-family--body);
  }

  .actions {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--gap);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;

    &--active {
      filter: invert(1);
    }
  }

  .code {
    @include mixins.hide-scrollbar;
    @include mixins.transition(opacity);

    opacity: 0;
    outline: 0;
    white-space: pre-wrap;
  }

  .editor,
  .highlighter {
    @include mixins.hide-scrollbar;
    @include typography;

    background-color: transparent;
    border: 0;
    box-shadow: none;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden auto;
    padding: 0;
    position: absolute;
    top: 0;
    white-space: pre-wrap; // Allows textarea to scroll horizontally
    width: 100%;

    * {
      @include typography;
    }
  }

  .editor {
    background: transparent;
    caret-color: white;
    color: transparent;
    outline: 0; // not a11y friendly :(
    resize: none;
    z-index: 1;
  }

  .highlighter {
    opacity: 0;
    z-index: 0;
  }
}
